body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("salsa.jpg") center/cover no-repeat border-box fixed, darkred;
  font-family: Montserrat, sans-serif;
}

.cafe-menu {
  width: 85%;
  max-width: 31rem;
  background-color: darkkhaki;
  padding: 1rem 1.5rem;
  border-radius: 12px;
  box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.cafe-menu__header {
  margin: 0.5rem 0 1.5rem 0;
}

.header__cafe-name {
  font-size: 3.5rem;
  margin: 0 0 0.3rem 0;
}

.header__established-mark {
  font-style: italic;
  font-size: 1.5rem;
  margin: 0;
}

.divider {
  border: 2px solid darkred;
}

.offers {
  margin: 1.5rem 0;
}

.offers__menu-title {
  font-size: 2.3rem;
}

.offer {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin: 0.8rem 0;
  padding: 0;
}

.offer__article-title {
  font-family: Anton, sans-serif;
  font-size: 1.5rem;
  margin: 0.8rem;
}

.offer__food,
.offer__price {
  margin: 0;
}


.offer__price{
  font-style: italic;
}

.cafe-menu__footer{
  margin: 1.5rem 0 0.5rem 0;
  font-size: 1.2rem;
}

.footer__link {
  color: darkred;
  text-decoration: none;
  font-weight: bold;
}

.footer__link:hover,
.footer__link:active{

  color: red;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;

}

.footer__link:visited {
  color: black;
}

.footer__goodbye {
  font-weight: bold;
}
